<div class="container margin-top">
  <div class="page-error">
    <div *ngIf="error === 'notFound'">
      <p class="titulo" > Não há anúncios que coincidam com a sua busca. </p>   
      <ul>
          <li>Revise a ortografia da palavra.</li>
          <li>Utilize palavras mais genéricas ou menos palavras.</li>
          <li>Navegue pela categoria de produtos para encontrar um produto semelhante.</li>
      </ul>  
    </div>
    <div *ngIf="error === 'serviceError'">
      <p class="titulo"> Ops!, ocorreu um erro, tente novamente mais tarde !</p>
    </div>
  </div>
</div>
